
.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    align-content: center;
  }

.cards_item {
    display: flex;    
    align-self: center;
  }